<div class="d-flex flex-row justify-content-around w-100">
    <div class="d-flex flex-row align-items-center bounce">
        <div [ngClass]="{ 'sk-child-sm': size <= 0, 'sk-child-md': size === 1, 'sk-child': size >= 2 }"
             class="sk-bounce1"></div>
        <div [ngClass]="{ 'sk-child-sm': size <= 0, 'sk-child-md': size === 1, 'sk-child': size >= 2 }"
             class="sk-bounce2"></div>
        <div [ngClass]="{ 'sk-child-sm': size <= 0, 'sk-child-md': size === 1, 'sk-child': size >= 2 }"
             class="sk-bounce3"></div>
    </div>
</div>
