<header class="navbar navbar-expand-md sticky-top navbar-dark">
    <nav class="container-fluid px-0">
        <a (click)="isCollapsed = true" class="navbar-brand p-0 mr-1" routerLink="/home">
            <svg class="fill-white" height="32" width="32" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="/assets/icons.svg#icon-pelican"></use>
            </svg>
            <span class="ml-2 align-middle">{{SERVICE_NAME}}</span>
        </a>

        <div class="d-flex justify-content-between hidden-lg-up">
            <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div [ngbCollapse]="isCollapsed" *ngIf="showTabs" class="collapse navbar-collapse">
            <!-- Left -->
            <ul class="nav navbar-nav">
                <a class="nav-link" routerLink="/home">
                    <span class="bi-house"></span>
                    {{"HOME" | translate:locale.language}}
                </a>
                <li *ngIf="showAdminTabs" class="nav-item dropdown" ngbDropdown placement="bottom-right">
                    <a class="nav-link text-center justify-content-center align-items-center" href="javascript:"
                       ngbDropdownToggle>
                        <span class="bi-person-badge"></span>
                        {{"APPLICATIONS" | translate:locale.language}}
                    </a>
                    <ul class="dropdown-menu-right" ngbDropdownMenu>
                        <li>
                            <a class="nav-item dropdown-item text-center d-flex justify-content-center align-items-center"
                               routerLink="/applications">
                                Bewerbungen bearbeiten
                            </a>
                        </li>
                        <li>
                            <a class="nav-item dropdown-item text-center d-flex justify-content-center align-items-center"
                               routerLink="/applications/deletion">
                                Bewerbungen löschen
                            </a>
                        </li>
                    </ul>
                </li>

                <a *ngIf="showAdminTabs" class="nav-link" routerLink="/learners">
                    <span class="bi-clipboard"></span>
                    {{"ASSIGN" | translate:locale.language}}
                </a>

                <a *ngIf="showAdminTabs" class="nav-link" routerLink="/users">
                    <span class="bi-person"></span>
                    {{"USER" | translate:locale.language}}
                </a>
                <a *ngIf="showAdminTabs" class="nav-link" routerLink="/serialletter">
                    <span class="bi-filetype-pdf"></span>
                    {{"SERIALLETTER" | translate:locale.language}}
                </a>
                <a *ngIf="showAdminTabs" class="nav-link" routerLink="/rules">
                    <span class="bi-file-ruled"></span>
                    {{"RULES" | translate:locale.language}}
                </a>
                <a *ngIf="showAdminTabs" class="nav-link" routerLink="/studyregulations">
                    <span class="bi-clipboard"></span>
                    {{"STUDYREGULATION" | translate:locale.language}}
                </a>
                <a *ngIf="showAdminTabs" class="nav-link" routerLink="/report">
                    <span class="bi-clipboard"></span>
                    {{"REPORT" | translate:locale.language}}
                </a>

                <li *ngIf="showAdminTabs" class="nav-item dropdown" ngbDropdown placement="bottom-right">
                    <a class="nav-link text-center justify-content-center align-items-center" href="javascript:"
                       ngbDropdownToggle>
                        <span class="bi-file-check"></span>
                        {{"EXAM" | translate:locale.language}}
                    </a>
                    <ul class="dropdown-menu-right" ngbDropdownMenu>
                        <li>
                            <a class="nav-item dropdown-item text-center d-flex justify-content-center align-items-center"
                               routerLink="/exam">
                                Klausur
                            </a>
                        </li>
                        <li>
                            <a class="nav-item dropdown-item text-center d-flex justify-content-center align-items-center"
                               routerLink="/examlocation">
                                Klausurort
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ml-auto">
                <!-- Right -->
                <theme-switcher-component></theme-switcher-component>
                <language-switcher-component></language-switcher-component>
                <!--<page-information-component></page-information-component>-->
                <profile-component></profile-component>
            </ul>
        </div>
    </nav>
</header>
